{
  "semi":false,
  "arrowParens": "avoid",
  "bracketSpacing": false,
  "useTabs": true,
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "plugins": ["./front-end/node_modules/prettier-plugin-tailwindcss"]
}