@import url('https://use.typekit.net/dhn6rwq.css');
@import 'tailwindcss';

@theme {
	--color-lightblue: rgb(222, 233, 241);
	--color-blue: rgb(182, 214, 242);
	--color-green: rgb(50, 64, 1);
	--color-darkgreen: rgb(34, 44, 1);
	--color-lightgreen: rgb(176, 185, 118);
	--font-ariana: 'ariana-pro', sans-serif;
	--font-gothic: 'all-round-gothic', sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));
