@reference '../../../layers/shared/app/assets/css/main-shared.css';

@property --nav-gradient-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@property --nav-gradient-color {
  syntax: '<color>';
  initial-value: rgb(176, 185, 118);
  inherits: false;
}

@utility navbar-button {
  @apply font-main font-normal text-xl border rounded-full px-4 py-3 border-transparent
        transition-all ease-out duration-500 hover:scale-103 hover:font-bold
        hover:border-black hover:px-3 hover:py-2;
}

@utility navbar-transition-gradient {
  transition: --nav-gradient-angle 0.8s ease-out, 
              --nav-gradient-color 0.3s ease-out,
              scale 0.3s ease-out;
}
